<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Time Series Forecasting</title>
    </head>
    <body>
        <h1>Time Series Forecasting</h1>
        <form action="/predict" method="post">
            <label for="p">p:</label>
            <input type="text" id="p" name="p"><br><br>

            <label for="d">d:</label>
            <input type="text" id="d" name="d"><br><br>

            <label for="q">q:</label>
            <input type="text" id="q" name="q"><br><br>

            <label for="a">a:</label>
            <input type="text" id="a" name="a"><br><br>

            <label for="b">b:</label>
            <input type="text" id="b" name="b"><br><br>

            <label for="c">c:</label>
            <input type="text" id="c" name="c"><br><br>

            <label for="m">m:</label>
            <input type="text" id="m" name="m"><br><br>

            <input type="submit" value="Predict">
        </form>
    </body>
</html>

  